.App {
  text-align: center;
  background-color: #EFFDFF;
}

.App-logo {
  height: 10vmin;
}

.btn {
  height: 9vmin;
  transition: transform 150ms ease;
}
.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.95);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #EFFDFF;
  min-height: 100vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
}

.header {
  padding: 5vh;
}

.footer {
  padding: 5vh;
}

.card {
  border-radius: 25px;
  max-height: 30vh;
  padding: 8vh;
  background-color: #D4FAFF;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 150ms ease;
}

.card:hover {
  transform: scale(1.05);
}

.card:active {
  transform: scale(0.95);
}

.quote {
  color: #236A74;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}

.author {
  color: #236A74;
  font-weight: bolder;
  display: flex;
  align-items: flex-end;
  justify-content: end;
  width: 60vw;
}

/* loader css styling from https://loading.io/css/*/

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #D4FAFF;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
